@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Poppins", sans-serif;
  --color-texto-primario: #ffffff;
  --color-texto-secundario: #b3b3b3;
  --color-fundo-cards: #1f1f1f;
}

* {
  font-family: "Poppins", sans-serif;
}
